<h2 mat-dialog-title>
  {{ openType === "edit" ? "Alterar item do pedido" : "Criar item do pedido" }}
</h2>
<mat-dialog-content>
  <form [formGroup]="formOrderItem">
    <mat-form-field class="full-width">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" type="number" disabled />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Produto</mat-label>
      <input matInput formControlName="productName" required />
      @if (formOrderItem.get("productName")?.hasError("required")) {
        <mat-error>Produto é obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        formControlName="quantity"
        type="number"
        required
        min="1"
      />
      @if (formOrderItem.get("quantity")?.hasError("required")) {
        <mat-error>Quantidade é obrigatória</mat-error>
      }
      @if (formOrderItem.get("quantity")?.hasError("min")) {
        <mat-error>Quantidade deve ser maior que zero</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" floatLabel="always">
      <mat-label>Preço</mat-label>
      <span matTextPrefix>R$&nbsp;</span>
      <input
        matInput
        type="number"
        class="input-currency"
        formControlName="price"
        placeholder="0.00"
        required
        step="0.01"
        min="0.01"
      />
      @if (formOrderItem.get("price")?.hasError("required")) {
        <mat-error>Preço é obrigatório</mat-error>
      }
      @if (formOrderItem.get("price")?.hasError("min")) {
        <mat-error>Preço deve ser maior que zero</mat-error>
      }
    </mat-form-field>

    <div class="full-width" align="end">
      <mat-slide-toggle formControlName="ativo">Ativo</mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton (click)="onCancel()">Cancelar</button>
  <button
    matButton="filled"
    color="primary"
    (click)="onSubmit()"
    [disabled]="!formOrderItem.valid"
  >
    Salvar
  </button>
</mat-dialog-actions>
