<h2 mat-dialog-title>Solicitar Transferência</h2>
<mat-dialog-content>
  <form [formGroup]="formTransferencia" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Origem</mat-label>
      <mat-select formControlName="fromId">
        @for (beneficio of filteredActiveList(); track beneficio.id) {
          <mat-option [value]="beneficio.id">{{ beneficio.nome }}</mat-option>
        }
      </mat-select>
      @if (formTransferencia.get("fromId")?.hasError("required")) {
        <mat-error>Benefício de origem é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Destino</mat-label>
      <mat-select formControlName="toId">
        @for (beneficio of filteredActiveList(); track beneficio.id) {
          <mat-option [value]="beneficio.id">{{ beneficio.nome }}</mat-option>
        }
      </mat-select>
      @if (formTransferencia.get("toId")?.hasError("required")) {
        <mat-error>Benefício de destino é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" floatLabel="always">
      <mat-label>Valor</mat-label>
      <span matTextPrefix>R$&nbsp;</span>
      <input
        matInput
        class="input-currency"
        placeholder="0.00"
        type="number"
        formControlName="valor"
        required
        step="0.01"
        min="0.01"
      />
      @if (formTransferencia.get("valor")?.hasError("required")) {
        <mat-error>Valor é obrigatório</mat-error>
      }
      @if (formTransferencia.get("valor")?.hasError("min")) {
        <mat-error>Valor deve ser maior que zero</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton (click)="onCancel()">Cancelar</button>
  <button
    matButton="filled"
    color="primary"
    (click)="onSubmit()"
    [disabled]="!formTransferencia.valid"
  >
    Transferir
  </button>
</mat-dialog-actions>
