<mat-card
  [class]="{ created: beneficio().ativo, closed: !beneficio().ativo }"
  class="card-button"
  appearance="outlined"
  (click)="onUpdateBeneficio(beneficio())"
>
  <mat-card-title class="title">
    <div
      class="badge-status"
      [matBadge]="beneficio().ativo ? 'Ativo' : 'Cancelado'"
      matBadgeSize="large"
      [matBadgeColor]="beneficio().ativo ? 'primary' : 'accent'"
    ></div>
    {{ beneficio().nome }}
  </mat-card-title>
  <mat-card-content class="description">
    <h2>
      {{ beneficio().descricao }}
    </h2>
  </mat-card-content>
  <mat-card-subtitle class="category">
    Saldo:
    {{
      beneficio().valor | currency: "BRL" : "symbol" : "1.2-2"
    }}</mat-card-subtitle
  >
  <mat-divider></mat-divider>
  <mat-card-actions class="actionbar" align="end">
    <mat-slide-toggle
      [(ngModel)]="beneficio().ativo"
      (click)="onAlterarStatus($event, confirmDialog)"
    ></mat-slide-toggle>
  </mat-card-actions>
</mat-card>

<ng-template #confirmDialog let-message>
  <h1 mat-dialog-title>Confirma?</h1>
  <div mat-dialog-content>
    <p class="dialog-message">{{ message.message }}</p>
  </div>
  <div mat-dialog-actions>
    <button matButton [mat-dialog-close]="false">Cancelar</button>
    <button matButton="filled" color="primary" [mat-dialog-close]="true">
      Confirmar
    </button>
  </div>
</ng-template>
