<mat-toolbar class="shadow" color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button matIconButton [disabled]="!isLoggedIn()" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img
    alt="UserImg"
    class="brand-logo"
    src="./assets/logo.png"
    alt="logo"
    aria-hidden="true"
    title="FrontApp"
  />
  <p class="head-title">{{ title() }}</p>
  <span class="fill-remaining-space"></span>
  @if (isLoggedIn()) {
    <div class="toolbar-actions" fxShow="true" fxHide.lt-md="true">
      <mat-select
        placeholder="Selecione um cliente"
        [(ngModel)]="selectedCustomerId"
        (selectionChange)="onCustomerSelected($event.value)"
      >
        <mat-option [value]="-1">Todos os clientes</mat-option>
        @for (customer of customers(); track $index) {
          <mat-option [value]="customer.id">{{ customer.name }}</mat-option>
        }
      </mat-select>
      <ul class="nav-links">
        <a matButton="tonal" class="link-item" 
          (click)="onCreateOrder()"
          [disabled]="selectedCustomerId() < 0">
          <mat-icon>add_shopping_cart</mat-icon>
          Novo Pedido
        </a>
        <a matButton="tonal" class="link-item" 
          (click)="onCreateCustomer()">
          <mat-icon>person_add</mat-icon>
          Novo Cliente
        </a>
      </ul>
    </div>
    <section class="user-info">
      <button matButton="filled" disabled>
        <span class="logged-user">
          {{ loggedUser().nome }}
        </span>
        <span class="avatar-user">
          <img
            src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
            alt="{{ loggedUser().nome }}"
            class="img-avatar-user"
          />
        </span>
      </button>
    </section>
  }
</mat-toolbar>
<mat-sidenav #sidenav mode="over" [(opened)]="opened">
  @if (isLoggedIn()) {
    <div>
      @for (route of routes; track $index) {
        <button
          matButton
          [class.is-selected]="route.descricao == title()"
          [routerLink]="route.path"
          selected
        >
          {{ route.descricao }}
        </button>
      }
    </div>
  }
</mat-sidenav>
